
.m{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65px;
    /* background-color: red; */
    /* box-shadow: 0 2px 2px -2px rgba(0,0,0,.2); */
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16); */
    z-index: 4000000;
    box-shadow: rgba(7, 7, 7, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: var(--dark-blue-bg);
}
.nav{
    width: 95%;
    height: 65px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 20%; */
    justify-content: space-around;
}
.logoDiv{
    display: flex;
    width: 15%;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.logo{
    /* font-size: 35px; */
    /* font-weight: bold; */
    width: 30%;
    height:60px;
    /* color: green; */
    /* line-height: 80px; */
}
.logoText{
    color: white;
    font-size: large;
    width: 70%;
}

.button {
    background-color: #45b38c; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
  }
  .button:hover{
    background-color:rgba(69, 179, 140,0.5);
  }
.buttonWallet {
    background-color: #242424; /* Green */
    border: none;
    color: white;
    padding: 9px 9px;
    border-radius: 4px;
    width: 160px;
    /* text-align: center; */
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid white;
    box-sizing: border-box;
  }
  .walleticon{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .buttonWallet:hover{
    background-color:rgba(255,255, 255,0.2);
  }
  .buttonDot:hover{
    background-color:rgba(255,255, 255,0.2);
  }
  .buttonDot {
    background-color: #242424; /* Green */
    border: none;
    color: white;
    padding: 9px 5px;
    border-radius: 4px;
    /* width: 100px; */
    /* text-align: center; */
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid white;
    box-sizing: border-box;
  }
  .dropDownBox{
    width: 13vw;
    height: 30vh;
    border: 2px solid var(--dark-blue-border);
    border-radius: 5px;
    background-color: rgb(0, 1, 13);
    position: absolute;
    top: 60px;
    right: 2%;
    padding: 7px;
    box-sizing: border-box;
    color: var(--dark-blue-active);
    display: none;
  }
  .showDropDownBox{
    display: flex;
    flex-direction: column;
  }
  .network{
    margin: 0 0;
    width: 100%;
    height: 20%;
    display: flex;
    color: var(--dark-blue-accent);
    flex-direction: row;
    font-size: small;
    justify-content: start;
    align-items: center;
  }
  .etherium{
    margin: 0 0;
    width: 100%;
    color: white;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 15%;
    align-items: center;
    border-bottom: 1px solid var(--dark-blue-border);
    /* border-top: 1px solid grey; */
  }

  .setting{
    margin: 0 0;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    gap: 15%;
    justify-content:start;
    align-items: center;
    color: white;
  }
  .language{
    margin: 0 0;
    width: 100%;
    height: 25%;
    display: flex;
    gap: 15%;
    justify-content: start;
    color: white;
    align-items: center;
  }
  .dropIcon{
    font-weight: bold;
    color: var(--dark-blue-accent);
    font-size: large;
  }
  .leftContainer{
    width: 27%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #28a0f0; */
    gap: 7%;
  }
.list{
    width: 58%;
    /* background-color: #e84143; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.link{
    color: dimgrey;
    display: flex;
    flex-direction: row;
    /* justify-content: baseline; */
    align-items: center;
    gap: 0.2rem;
    font-size: 18px;
    transition: all 0.1s;
    /* text-decoration: none; */
}
.navlink{
    text-decoration: none;
    color: dimgrey;
}
.link:hover{
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.navlink:hover{
    color: white;
    cursor: pointer;
    font-weight: 600;
}
#icon{
    color: dimgrey;
    width: 8%;
    /* background-color: #e84143; */
    height: 60px;
    font-size: 30px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

  .cartIcon{
    /* width: 25px;
    height: 60px; */
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: rgb(114, 114, 106);
  }
  .cartIcon:hover{
    color: green;
  }
  .overlay{
    background-color: rgba(0,0, 0,0.6);
    /* background-color: red; */
    width: 100vw;
    /* z-index: -3; */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s;
  }
  .showOverlay{
    /* width: 100vw; */
    /* left: 0%; */
    display: flex;
  }
  .sidebar{
    z-index: 1;
    background-color: var(--dark-blue-bg);
    border: 1px solid var(--dark-blue-border);
    border-radius: 5px;
    width: 23vw;
    height: 40vh;
    position: absolute;
    top: 28vh;
    padding: 0px 9px;
    /* transform: translate(-50%,-50%); */
    /* right: -50%; */
    /* margin: auto auto; */
    display: none;
    transition: all 0.2s;
    transition-delay: 0.1s;
    /* gap: 10%; */
    box-sizing: border-box;
  }
  .heading1{
    width: 100%;
    height: 18%;
    color: white;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .heading2{
    border: 1px solid var(--dark-blue-border);
    border-radius: 5px;
    width: 90%;
    padding-left: 5%;
    gap: 6%;
    height: 25%;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .heading2:hover{
    background-color: var(--dark-blue-hover);
  }
  .showSidebar{
    /* right: 0%; */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 7px 7px;
    box-sizing: border-box;
  }
  .sidebarImg{
    width:15%;
    height: 45%;
  }
  

@media (max-width:909px) {
    .nav{
        /* justify-content: cen; */
        justify-content: space-between;
        /* gap: 20%; */
    }
    .logo{
        width: 30%;
    }
    .logoDiv{
        width: 40%;
        /* background-color: #28a0f0; */
    }
    .leftContainer{
        width: 50%;
    }
    
    #icon{
        display: block;
        width: 15%;
    }
    .list{
        position: fixed;
        /* z-index: -5; */
        width: 100vw;
        height: 100vh;
        background-color: var(--dark-blue-bg);
        top: 65px;
        left: -100%;
        transition: all .5s;
        text-align: center;
        flex-direction: column;
    }
    .show{
        left: 0%;
    }
    /* .sidebar{
      width: 60vw;
      right: -100%;
    } */
    /* .showSidebar{
      right: 0%;
    } */
    .nav{
        box-sizing: border-box;
        width: 100%;
        padding: 2%;
    }
    /* .unshow{
        left: -100%;
    } */

    /* .list{

    } */
}
@media only screen and (max-width: 500px){
  /* .sidebar{
    width: 100vw;
    right: -100%;
  }
  .showSidebar{
    right: 0%;
  } */
  .logoDiv{
    width: 42%;
    /* background-color: #28a0f0; */
}
#icon{
    width: 25%;
}
.logo{
    width: 25%;
}
.logoText{
    width: 60%;
}
.button{
    width: 27%;
    padding: 9% 5%;
    font-size: small;
    box-sizing: border-box;
}
.buttonWallet{
    width: 43%;
    font-size: small;
    padding: 9% 5%;
    box-sizing: border-box;
}
.buttonDot{
    width: 30%;
    font-size: small;
    padding: 9% 5%;
    box-sizing: border-box;
}
.leftContainer{
    width: 50%;
    gap: 0%;
}
.m{
    width: 100vw;
}
  /* .logo{
    width: 22%;
  } */
}
